body {
    padding-top: 60px;
    background-image: url("../img/backgrounds/whitey.png");
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

.navbar-inverse .navbar-inner {
    font-family: 'Grand Hotel', cursive;
    background-color: #ffffff;
    background-image: url("../img/backgrounds/black_linen_v2.png");
    background-repeat: repeat-x;
    border-color: #c9c9c9;
    color: #c9c9c9;
}

.navbar-inverse .brand {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    margin-left: 10px;
    margin-right: 40px;
    color: #c9c9c9;
}

.navbar-inverse .navbar-inner li {
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
}

.box {
    background-color: white;
    width: 200px;   /* 5 columns*/
    /*width: 260px;  *//* 4 columns */
    /*width: 360px;  *//* 3 columns */
    margin: 10px;
    float: left;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    font-size: 11px;
}

.box.col4 {
    width: 260px;
}

.box img{
    margin-bottom: 10px;
    border: 1px solid #eee;
}

.box .people{
    color: #8C7E7E;
    float: right;
}

.navigation-container {
    width: 300px;
    float: left;
}

.gallery-container {
    width: 900px;
    float: left;
}

.navigation {
    background-image: url("../img/backgrounds/black_linen_v2.png");
    color: #c9c9c9;
}

.navigation h1{
    font-family: 'Grand Hotel', cursive, Arial;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
    border-bottom: 1px solid #c9c9c9;
    text-align: center;
    text-transform: capitalize;
}

.navigation a:hover {
    color: #0088CC;
}