{% extends "base.html" %}
{% block title %} - {{album}}{% endblock %}

{% block breadcrumb %}
    <li><a href="/{{year}}">{{year}}</a></li>
    <li><a href="/{{year}}/{{month}}">{{month}}</a></li>
    <li class="active"><a href="">{{album}}</a></li>
{% endblock %}

{% block content %}
<div id="gallery" class="row">

    <div class="box navigation">
        <h1>{{year}} - {{month_name}} - {{album}}</h1>
        <div>{{summary['summary'] | nl2p}}</div>
        <p>See more photos from <a href="/{{year}}/{{month}}">{{month_name}}</a></p>
    </div>

    {% for item in photos -%}

    <div class="box photo-box">
        <a class="fancybox" rel="group" href="{{item.photo}}"><img src="{{item.photo}}" alt=""></a>
        <p class="date right"></p>
    </div>
    {% endfor -%}
</div>
{% endblock %}
