{% extends "base.html" %}
{% block title %} - {{album}}{% endblock %}

{% block breadcrumb %}
    <li><a href="/">Home</a></li>
    <li><a href="/{{year}}">{{year}}</a></li>
    <li><a href="/{{year}}/{{month}}">{{month}}</a></li>
    <li class="active"><a href="">{{album}}</a></li>
	{% if user is authenticated %}
	<li><a href="/{{year}}/{{month}}/{{name}}/edit">Edit</a></li>
	{% endif %}
{% endblock %}

{% block content %}
<div id="gallery" class="row">

    <div class="box navigation">
        <h1>{{year}} - {{month_name}} - {{album}}</h1>
        <div>{{summary['summary'] | nl2p}}</div>
        <p>See more photos from <a href="/{{year}}/{{month}}">{{month_name}}</a></p>
    </div>

    {% for item in photos -%}


    <div class="box photo-box">
        <a class="fancybox" rel="group" href="{{item.photo}}"><img src="{{item.thumbnail}}" alt=""></a>
        <strong><p class="title"></p></strong>
        <p class="subject"></p>
        <p class="comment"></p>
        <p class="person_in_image right"></p>
        <p class="keywords" style="display:none"></p>
        <p class="date right"></p>
    </div>
    {% endfor -%}
</div>
{% endblock %}
