{% extends "base.html" %}
{% block title %} - {{event_name}}{% endblock %}

{% block content %}
<div id="gallery" class="row">

    <div class="box navigation">
        <h1>{{year}} - {{month_name}} - {{event_name}}</h1>
        <p>Here is where there is some text about the album. That would go here.</p>
        <p>See more photos from <a href="./">{{month_name}}</a></p>
    </div>

    {% for item in photos -%}

    <div class="box photo-box">
        <a class="fancybox" rel="group" href="{{item.photo}}"><img src="{{item.photo}}" alt=""></a>
        <p class="date right"></p>
    </div>
    {% endfor -%}
</div>
{% endblock %}
