{% extends "base.html" %}
{% block title %} - {{album}}{% endblock %}

{% block breadcrumb %}
    <li><a href="/">Home</a></li>
    <li><a href="/{{year}}">{{year}}</a></li>
    <li><a href="/{{year}}/{{month}}">{{month}}</a></li>
    <li><a href="/{{year}}/{{month}}/{{name}}">{{album}}</a></li>
	<li class="active"><a href="">Edit</a></li>
{% endblock %}

{% block content %}
<div class="row">

    {% for item in photos -%}
    <div class="box photo-edit-box">

        <div class="span7">
            <img src="{{item.photo}}" alt="">
        </div>
        <div class="span5">
            <form action="#" class='update-exif form-horizontal' data-update-url='{{item.photo}}/update'>
                <div class="control-group">
                    <label for="comment" class="control-label">Comment</label>
                    <div class="controls">
                        <textarea rows=10 name='comment' id="comment"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label for="keywords" class="control-label">Keywords</label>
                    <div class="controls">
                        <input type="text" name='keywords' id="keywords"/>
                    </div>
                </div>
                <div class="control-group">
                    <label for="title" class="control-label">Title</label>
                    <div class="controls">
                        <input type="text" rows=3  name='title' id="title"/>
                    </div>
                </div>
                <div class="control-group">
                    <label for="subject" class="control-label">Subject</label>
                    <div class="controls">
                        <input type="text"  name='subject' id="subject"/>
                    </div>
                </div>
                <div class="control-group">
                    <label for="person_in_image" class="control-label">PersonInImage</label>
                    <div class="controls">
                        <input type="text"  name='person_in_image' id="person_in_image" />
                    </div>
                </div>
                <div class="controls">
                    <input type='submit' class="btn" value="Save"/>
                </div>
            </form>
        </div>
    </div>
    {% endfor -%}
</div>
{% endblock %}
