{% extends "base.html" %}
{% block title %} - {{album}}{% endblock %}

{% block breadcrumb %}
    <li><a href="/">Home</a></li>
    <li><a href="/{{year}}">{{year}}</a></li>
    <li><a href="/{{year}}/{{month}}">{{month}}</a></li>
    <li><a href="/{{year}}/{{month}}/{{name}}">{{album}}</a></li>
	<li class="active"><a href="">Edit</a></li>
{% endblock %}

{% block content %}
<div id="gallery" class="row">

    <div class="navigation">
        <h1>{{year}} - {{month_name}} - {{album}}</h1>
        <div>{{summary['summary'] | nl2p}}</div>
        <p>See more photos from <a href="/{{year}}/{{month}}">{{month_name}}</a></p>
    </div>

    {% for item in photos -%}

    <div class="photo-box">
		<form action="#" class='update-exif' data-update-url='{{item.photo}}/update'>
			<a rel="group" href="{{item.photo}}"><img src="{{item.thumbnail}}" alt=""></a>
			<p>Comment: <input name='comment' /></p>
			<p>Keywords: <input name='keywords' /></p>
			<p>Title: <input name='title' /></p>
			<p>Subject: <input name='subject' /></p>
			<p>PersonInImage: <input name='person_in_image' /></p>
			<input type='submit' />
		</form>
    </div>
    {% endfor -%}
</div>
{% endblock %}
