<!DOCTYPE html>
<html>
<head>
    <title>Photo Gallery</title>

    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/css/style.css" rel="stylesheet" media="screen">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Photo Gallery</a>
                <ul class="nav">
                    <li><a href="#">Home</a></li>
                    <!--<li><a href="#">2011</a></li>-->
                    <!--<li><a href="#">August</a></li>-->
                    <!--<li><a href="#">Canoe The Wye</a></li>-->
                </ul>
            </div>
        </div>
    </div>

    <div class="container">

    {{{contents}}}

    </div>

    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="/js/jquery.masonry.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/gallery.js"></script>
</body>
</html>




