{% extends "base.html" %}
{% block title %} - Welcome{% endblock %}

{% block content %}
<div  class="row">
    <div class="box col4 navigation">
        <h1>Recent Albums</h1>
    </div>
    <div class="box col4"></div>
    <div class="box col4"></div>
</div>

<div class="row">
    <div class="navigation-container">
        <div class="box col4 navigation">
            <h1>Years</h1>
        </div>
    </div>

    <div id="gallery" class="gallery-container">
        {% for item in years -%}
            <div class="box col4">
                <a href="/{{item.view_data.year}}">
                    {% if item.view_data.summary['cover-image'] is defined %}
                    <img src="/thumbnails/{{item.view_data.year}}/{{item.view_data.summary['cover-image']}}">
                    {% else %}
                    <img src="{{item.first_month_image_url}}">
                    {% endif %}
                  </a>
                <a href="/{{item.view_data.year}}">{{item.view_data.year}}</a>
                <p>{{item.view_data.summary['summary']}}</p>
            </div>
        {% endfor -%}
    </div>
	<pre>{{ cookie }}</pre>

</div>

{% endblock %}
