{% extends "base.html" %}
{% block title %} - {{year}} - {{month_name}}{% endblock %}

{% block breadcrumb %}
    <li><a href="./">{{year}}</a></li>
    <li class="active"><a href="">{{month_name}}</a></li>
{% endblock %}

{% block content %}
<div id="gallery" class="row">

    <div class="box col4 navigation">
        <h1>{{year}} - {{month_name}}</h1>
        <p>{{summary['summary']}}</p>
        <p>See more photos from <a href="./">{{year}}</a></p>
    </div>

    {% for item in albums -%}
    <div class="box col4">
        <img src="/photos/{{item.url}}/{{item.summary['cover-image']}}">
        <p><strong><a href="{{item.url}}">{{item.title}}</a></strong></p>
        <p>{{item.summary['summary']}}</p>
    </div>
    {% endfor -%}
</div>
{% endblock %}