{% extends "base.html" %}
{% block title %} - {{year}} - {{month_name}}{% endblock %}

{% block breadcrumb %}
    <li><a href="/">Home</a></li>
    <li><a href="/{{year}}">{{year}}</a></li>
    <li class="active"><a href="">{{month_name}}</a></li>
{% endblock %}

{% block content %}
<div id="gallery" class="row">

    <div class="box col4 navigation">
        <h1>{{year}} - {{month_name}}</h1>
        <div>{{summary['summary'] | nl2p}}</div>
        <p>See more photos from <a href="/{{year}}">{{year}}</a></p>
    </div>

    {% for item in albums -%}
    <div class="box col4">
      <a href="{{item.url}}">
        {% if item.summary['cover-image'] is defined %}
        <img src="/thumbnails{{item.url}}/{{item.summary['cover-image']}}">
        {% else %}
        <img src="{{item.first_image_url}}">
        {% endif %}
      </a>
      <p><a href="{{item.url}}">{{item.title}}</a></p>
      <p>{{item.summary['summary']}}</p>
    </div>
    {% endfor -%}
</div>
{% endblock %}