{% extends "base.html" %}
{% block title %} - {{year}}{% endblock %}

{% block breadcrumb %}
    <li class="active"><a href="">{{year}}</a></li>
{% endblock %}

{% block content %}
<div class="row">

    <div class="navigation-container">
        <div class="box col4 navigation">
            <h1>{{year}}</h1>
            <p>{{summary['summary']}}</p>
        </div>
    </div>

    <div id="gallery" class="gallery-container">
        {% for item in months -%}
        <div class="box col4">
            <img src="/photos/{{item.url}}/{{item.summary['cover-image']}}">
            <p><strong><a href="{{item.url}}">{{item.month}}</a></strong></p>
            <p>{{item.summary['summary']}}</p>
        </div>
        {% endfor -%}
    </div>
</div>
{% endblock %}