<div id="gallery" class="row">

    <div class="box navigation">
        <h1>{{year}}</h1>
        <p>Oh we did some cool stuff in 2011. Woohoo!</p>
    </div>

    {{#months}}
    <div class="box" style="width: 260px">
        <img src="/photos/2011/08/canoe_the_wye/IMG_6153.jpg">
        <p><strong><a href="{{url}}">{{month}}</a></strong></p>
        <p>Could we say more about what we did in the park. How would it look. It might look quite nice and be quite happy. It was a happy river.</p>
        <p>15th August</p>
        <p class="people">with Richard, Debbie and Graham</p>
    </div>
    {{/months}}





</div>