{% extends "base.html" %}
{% block title %} - {{year}}{% endblock %}

{% block breadcrumb %}
    <li><a href="/">Home</a></li>
    <li class="active"><a href="">{{year}}</a></li>
{% endblock %}

{% block content %}
<div class="row">

    <div class="navigation-container">
        <div class="box col4 navigation">
            <h1>{{year}}</h1>
            <div>{{summary['summary'] | nl2p}}</div>
        </div>
    </div>

    <div id="gallery" class="gallery-container">
        {% for item in months -%}
        <div class="box col4">
          <a href="{{item.url}}">
            {% if item.summary['cover-image'] is defined %}
            <img src="/thumbnails{{item.url}}/{{item.summary['cover-image']}}">
            {% else %}
            <img src="{{item.first_image_url}}">
            {% endif %}
          </a>
          <p><a href="{{item.url}}">{{item.month}}</a></p>
          <p>{{item.summary['summary']}}</p>
        </div>
        {% endfor -%}
    </div>
</div>
{% endblock %}